@page
@model GuguDadah.Pages.AdminArea
@{
    ViewData["Title"] = "Área do Administrador";

}

<h2>Área do Administrador</h2>

<a class="btn btn-primary" asp-page="/RegisterProfessional">Registo de Profissionais</a>
<a class="btn btn-primary" asp-page="/RegisterProfessional">Marcar clientes golden</a>
<a class="btn btn-primary" asp-page="/RegisterProfessional">Gerir Pagamentos</a>
<a class="btn btn-primary" asp-page="/RegisterProfessional">Ver lista de utilizadores</a>
<a class="btn btn-primary" asp-page="/RegisterProfessional">Ver lista de trabalhos</a>