@page
@model GuguDadah.Pages.AdminArea
@{
    ViewData["Title"] = "Área do Administrador";

}

@section Scripts
    {

}


<h2>Área do Administrador</h2>

<a class="btn btn-primary" asp-page="/RegisterProfessional">Registo de Profissionais</a>
<a class="btn btn-primary" asp-page="/AdminOverview" asp-page-handler="ListOfClients">Ver lista de utilizadores</a>
<a class="btn btn-primary" asp-page="/AdminOverview" asp-page-handler="ListOfProfessionals">Ver lista de profissionais</a>
<a class="btn btn-primary" asp-page="/AdminOverview" asp-page-handler="ListOfWorks">Ver lista de trabalhos</a>