@page
@model GuguDadah.Pages.ClientArea
@{
    ViewData["Title"] = "Área do Cliente";

}

<h2>Área do Cliente</h2>

<a class="btn btn-info" asp-page="/Schedule">Agendar trabalho</a>
<a class="btn btn-info" asp-page="/Register">Avaliar trabalhos</a>

<a class="btn btn-info" asp-page="/Login"
   asp-page-handler="Logout"
   asp-route-attendeeid="12">Logout</a>


    <br><br>

    <p>Nome: @Model.userName</p>
    <p>Email: @Model.eMail</p>
    <p>Contacto: @Model.contact</p>

    <img src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Avatar)" alt="" />

