@page
@model GuguDadah.Pages.Login
@{
    ViewData["Title"] = "Login";
}


<p>
    @Model.Message
</p>

    <div class="row">
        <div class="col-sm-6 mainContentWrapper">
            <div class="well">
                <form method="POST" class="form-group">
                            <div class="form-group">
                                <label asp-for="Customer.userName"></label>
                                <input asp-for="Customer.userName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Customer.password"></label>
                                <input type="password" asp-for="Customer.password" class="form-control" />
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-default" />
                            </div>
                </form>

            </div>
        </div>

    </div>