@page
@model GuguDadah.Pages.ProfessionalArea
@{
    ViewData["Title"] = "Área do Profissional";
}

<h2>Área do Profissional</h2>

<a class="btn btn-info" asp-page="/Register">Propostas</a>
<a class="btn btn-info" asp-page="/Register">Trabalhos pendentes</a>
<a class="btn btn-info" asp-page="/Register">Histórico</a>

<br><br>

<p>Nome: @Model.userName</p>
<p>Email: @Model.eMail</p>
<p>Contacto: @Model.contact</p>

<img src="data:image/jpeg;base64,@System.Convert.ToBase64String(Model.Avatar)" alt="" />

