@page
@model GuguDadah.Pages.ProfessionalAreaModel
@{
    ViewData["Title"] = "Área do Profissional";
}

<h2>Área do Profissional</h2>

<a class="btn btn-info" asp-page="/Register">Propostas</a>
<a class="btn btn-info" asp-page="/Register">Trabalhos pendentes</a>
<a class="btn btn-info" asp-page="/Register">Histórico</a>
<br><br>

<p>Nome: Diana Costa</p>
<p>Email: blabla@gmail.com</p>
<p>Contacto: 912 345 678</p>
<p>Turno: Tarde</p>

