/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: white !important;
}

#banner {
    width: 863px;
    height: 265px;
    margin: auto;
    text-align: center; /*centers horizontally*/
    line-height: 224px; /*same as height and for centering vertically*/
}

.navbar-inverse {
    background-color: transparent !important;
    border: none !important;
    line-height: 60px;
    height: 60px;

}

.jumbotron {
    background-color: transparent !important;
}
